.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardWrapper {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.layout {
  display: flex;
}

.basket {
  display: block;
}
